.glance-section {
  padding: 60px 70px;
  /* background: #ffffff; */
  background: #f6f6f6;
  overflow: hidden;
  margin-top: 30px;
}

.glance-header {
  max-width: 780px;
  margin-bottom: 60px;
}

.glance-header span {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #777;
}

.glance-header h2 {
  margin: 16px 0;
  font-size: 46px;
  line-height: 1.2;
  color: #111;
}

.glance-header p {
  font-size: 17px;
  line-height: 1.8;
  color: #555;
}

.glance-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.glance-card {
  position: relative;
  height: 330px;
  overflow: hidden;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  cursor: pointer;
}

.glance-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0.35;
  filter: blur(1px) grayscale(100%);
  transform: scale(1.08);

  transition: 0.6s ease;
}

.glance-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.2));
  opacity: 0;
  transition: 0.5s ease;
}

.glance-content {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 38px 28px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.glance-content h3 {
  font-size: 45px;
  line-height: 1;
  color: #111;
  margin-bottom: 14px;
  transition: 0.4s ease;
}

.glance-content p {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #777;
  transition: 0.4s ease;
}

.glance-card:hover img {
  opacity: 1;
  filter: blur(0) grayscale(0%);
  transform: scale(1);
}

.glance-card:hover .glance-overlay {
  opacity: 1;
}

.glance-card:hover .glance-content h3,
.glance-card:hover .glance-content p {
  color: white;
}

.glance-card:hover {
  border-color: transparent;
}
@media (max-width: 768px) {
  .glance-section {
    padding: 50px 18px;
    margin-top: 10px;
  }

  .glance-header {
    margin-bottom: 30px;
  }

  .glance-header h2 {
    font-size: 30px;
  }

  .glance-header p {
    font-size: 15px;
    line-height: 1.7;
  }

  .glance-grid {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .glance-card {
    height: 190px;
  }

  .glance-card img {
    opacity: 0.75;
    filter: grayscale(30%);
    transform: scale(1);
  }

  .glance-overlay {
    opacity: 1;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.15)
    );
  }

  .glance-content {
    padding: 22px 16px;
  }

  .glance-content h3 {
    font-size: 32px;
    color: white;
    margin-bottom: 8px;
  }

  .glance-content p {
    font-size: 11px;
    line-height: 1.4;
    color: white;
  }
}

@media (max-width: 480px) {
  .glance-card {
    height: 170px;
  }

  .glance-content h3 {
    font-size: 29px;
  }
}
